body {
	margin: 0;
	background: #222425;
	color: #fff;
	font-family: Source Sans Pro, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	padding-bottom: 10px;
}
header {
	-webkit-app-region: drag;
	padding: 15px 25px;
	background: #313436;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0px;
}
.branding, .search, .window-controls {
	-webkit-app-region: no-drag;
	display: inline-block;
}
#container {
	position: fixed;
	overflow-y: auto;
	top: 110px;
	bottom: 0;
	right: 0;
    left: 0;
}
#asset-feed {
	clear: both;
	padding: 25px;
	height: 608px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#browse {
	display: none;
}
.asset-img {
    width: 300px;
    height: 200px;
    margin: 25px;
	position: relative;
	display: flex;
	background-color: rgba(0, 0, 0, 0.2);
}
.asset-img:hover {
	background-color: rgba(255, 104, 104, 0.5);
}
.image-node img {
    margin: auto;
}
.asset-img:hover .image-node > img {
	filter: grayscale(90%) opacity(50%);
}
.image-node {
	overflow: hidden;
	display: flex;
}
.asset-title {
	text-align: left;
	position: absolute;
	bottom: -40px;
	font-size: 14px;
}
.open-btn {
	display: none;
	width: 60px;
	height: 60px;
	background-color: rgb(255, 108, 0);
	position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
	border-radius: 30px;
	z-index: 10;
	cursor: pointer;
}
.open-btn:hover {
	background-color: rgb(255, 129, 36);
}
img.open-icon {
	width: 50%;
	margin: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	img.open-icon {
		width: 100%;
		height: 100%;
		margin: 36px;
	}
}
.open-txt {
	display: none;
	position: absolute;
	top: 55%;
	width: 100%;
	z-index: 10;
	text-transform: uppercase;
	user-select: none;
	cursor: default;
	font-weight: bold;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}