body {
	margin: 0;
	background: #222425;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	padding-bottom: 10px;
}
header {
	-webkit-app-region: drag;
	padding: 15px 25px;
	background: #313436;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0px;
}
.branding, .search, .window-controls {
	-webkit-app-region: no-drag;
	display: inline-block;
}
#container {
	position: fixed;
	overflow-y: auto;
	top: 110px;
	bottom: 0;
	right: 0;
    left: 0;
}
#asset-feed {
	clear: both;
	padding: 25px;
	height: 608px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#browse {
	display: none;
}
.asset-img {
    width: 300px;
    height: 200px;
    margin: 25px;
	text-align: center;
	background-size: cover;
	position: relative;
}
.asset-img img {
    width: auto;
    height: 100%;
}
.asset-title {
	text-align: left;
	position: absolute;
	bottom: -40px;
	font-size: 14px;
}
.img-hover {
	background-color: rgb(0,0,0);
	opacity: 0.5;
	cursor: pointer;
}